.posts{
  .post-section{
    margin: 1vh 0;
    &:hover{
      cursor: pointer;
    }
    .post-background{
      height: 100%;
      background: #dddddd;
      .post-warpper{
        padding: 6px;
        display: flex;
        .post-image{
          width: 30%;
          height: 100%;
          overflow: hidden;
          margin-right: 1em;
          img{
            height: 100%;
            width: 100%;
          }
        }
        .post-content{
          width: 68%;
          text-align: left;
          display: flow;
          position: relative;
          .post-title{
            color: #000;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-weight: bolder;
            font-size: 2.2em;
            &:hover{
              text-decoration: underline;
            }
          }
          .post-desc{
            color: #7f7f7f;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;

          }
          .post-operation{
            position: absolute;
            bottom: 1em;
          }
        }
      }
    }
  }
}