.page-footer{
  z-index: 999;
  .footer{
    background-color: white;
    display: flex;
    border-top: 3px solid black;
    margin-top: 3vh;
    padding: 3vh 0;
    height: 20px;

    .footer-credits{
      flex-basis: 50%;
      color: grey;
      text-align: right;
    }
    .footer-links{
      flex-basis: 50%;
      .footer-list{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        li{
          margin: 0 1.5vw;
          position: relative;
          text-transform: capitalize;
          transition: transform 0.2s ease-in-out;

          &:hover{
            cursor: pointer;
            color: mediumpurple;
            transition: transform 0.2s ease-in-out;
          }
        }
      }
    }
  }
}