.nav-container{
  background: coral;
  position: relative;
  justify-content: center;
  display: flex;
  margin-bottom: 8vh;
  &:hover{
    cursor: default;
  }
  .navbar{
    position: fixed;
    z-index: 999;
    .nav-background{
      background: silver;
      color: #fff;
      align-items: center;
      justify-content: left;
      height: 5vh;
      width: 100vw;
      display: flex;
      .nav-title{
        font-weight: bold;
        font-size: 2em;
        margin-left: 0.5em;
      }
      .nav-list{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        li{
          margin: 0 1.5vw;
          position: relative;
          text-transform: capitalize;
          transition: transform 0.2s ease-in-out;

          &:hover{
            cursor: pointer;
            transition: transform 0.2s ease-in-out;
            transform: scale3d(1.2,1,1.2);
          }
        }
      }

    }
  }
}
